* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}


main > * + * {
  margin-block-start: 1em;
}

main > * {
  max-width: 85rem;
  margin-inline: auto;
}

/* the bit you're probably here for */
nav {
  backdrop-filter: blur(5px);
  border-radius: 10px;
  background-color: #F7ECDE;
  position: sticky;
  top: 0;
}

/* not needed for the funky stuff */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1.5em;
  color: #000000;
}

nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 4em;
  margin-right: 1em;

  
}
nav > ul >li:hover {
  opacity: 50%;
}
.container {
  background: url(/images/chocolate-making-experience5.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 65vh;
  width: 100%;
}


footer {
  padding: 1rem;
  background-color: #F7ECDE;
}
a{
  text-decoration: none;
  color: #000000;
}
.usericon{
  height: 1.7em;
  
}

.shoppingcart {
height: 1.7em;

}

.logo {

  height: 4.5em;
  width: 4.5em;
  margin-left: 2.5em;
}
input{
  border: 2px solid black;
}

/*contact css*/

.links {
  padding:10px;
  margin: 30px;  
  color:black;
}

.links a:link {
  color:black;
}

.links a:visited {
  color:black;
}

.links a:hover {
  color:#99CAC2;
}

form {
  padding:20px;
  display: grid;
  width: 500px;
  grid-template-columns: 50% 50%;
  align-items: center;
  grid-gap: 1em;
  }

